[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scapy = "2.5.0"
numpy = "*"
geopandas = "*"
requests = "*"
matplotlib = "*"
pandas = "*"
shapely = "*"
tqdm = "*"
python-dotenv = "*"
jupyter = "*"
seaborn = "*"

[dev-packages]
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.10"
